
header{
    height: 250px;
    /* outline: 1px solid red; */
    background-image: url(https://images.pexels.com/photos/12437578/pexels-photo-12437578.jpeg?cs=srgb&dl=pexels-anton-12437578.jpg&fm=jpg&_gl=1*4zh19r*_ga*MjAwNDUxNTMyMy4xNjY3ODA1NDM1*_ga_8JE65Q40S6*MTY2NzgwNTQzNy4xLjEuMTY2NzgwNTU0MC4wLjAuMA..);
    background-size: cover;
    background-position: center center;
}
header h1{
    margin: 0;
    padding-left: 50px;
    padding-top: 20px;
}
header h2{
    margin: 0;
    padding-left: 50px;
    padding-top: 20px;
}